.achievements__list {
  margin: 0 11px 12px 11px;
  padding: 28px 0 20px;
  list-style: none;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: $desktop-width) {
  .achievements__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.achievements__items {
  margin: 0 0 52px 0;
}

.achievements__title {
  color: $basic-pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  padding: 117px 0 0 0;
  width: 218px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 374px;
    padding: 0;
  }
}

.achievements__label input:checked ~ span::after {
  background-image: url("../img/bird.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.achievements__label input:disabled ~ span::after {
  background-image: url("../img/bird.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.achievements__label input:disabled ~ span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 15%;
  border: 2px solid $basic-pink;
}

.checkbox--span {
  position: relative;
  padding-left: 58px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.checkbox--span::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -2px;
  width: 39px;
  height: 39px;
  border-radius: 15%;
  border: 2px solid $basic-gray;
  background-color: $basic-white;
}

.checkbox--span::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 18px;
  top: 3px;
  left: 7px;
}

.achievements__label input:focus ~ span::before {
  content: "";
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 15%;
  outline: 2px solid $basic-black;
}

.achievements {
  background-color: $basic-wheat;
  margin: 30px 0 0 0;
  border: none;
  width: 100vw;
  margin: -54px 0 0 -20px;
}

@media (min-width: $tablet-width) {
  .achievements {
    background-color: $basic-white;
    border: 1px solid $basic-gray;
    margin: 20px;
    width: auto;
  }
}

.achievements__items--sixth {
  margin-bottom: 0;
}
