.advantages {
  background-color: $basic-wheat;
}

.advantages__list {
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;


  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: $darken-blue;
}

.advantages__slogan-wrapper {
  background-color: $basic-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $darken-gray;
  margin: 0;
  padding: 46px 20px 70px 20px;
}

.advantages__image {
  margin: auto;
}

.advantages__image--desktop {
  display: none;
}

@media (min-width: $desktop-width) {
  .advantages__image--desktop {
    display: block;
  }
}
