.advantages__list {
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 24px 0 0 0;

  @media (min-width: $tablet-width) {
    width: 44%;
    margin: 17px 0 0 0;
    display: flex;
    margin-left: auto;
    text-align: left;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transform: translateY(-116px);
    margin: 52px auto 0 auto;
    text-align: center;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: unset;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 10px 0 -48px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
}

.advantages__item--last {
  padding-bottom: 305px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    transform: translate(1px, -4px);
  }
}

.advantages__list-wrapper {
  background-color: $basic-wheat;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    background-color: $basic-white;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 70px;
    background-color: $basic-wheat;
    clip-path: polygon(0 56%, 124% 0%, 100% 100%, 0% 100%);

    @media (min-width: $tablet-width) {
      clip-path: polygon(0 93%, 124% 0, 100% 100%, 0 100%);
    }

    @media (min-width: $desktop-width) {
      transform: translateY(-25%);
      height: 900px;
      clip-path: polygon(0 32%, 290% 0, 100% 100%, 0 100%);
    }
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-black;
  margin-bottom: -2px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    width: 240px;
    margin: 56px auto 0 auto;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: $darken-blue;
  width: 270px;
  margin: 14px auto;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 15px auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 240px;
    margin: 23px auto 20px auto;
  }
}

.advantages__slogan-wrapper {
  background-color: $basic-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $darken-gray;
  margin: 0;
  padding: 37px 15px 70px 24px;

  @media (min-width: $desktop-width) {
    padding: 52px 23px 2px 24px;
  }
}

.advantages__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  width: 250px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin: 10px auto 0 auto;
    width: 610px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    width: 750px;
  }
}

.advantages__slogan-small {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  width: 250px;
  margin: 29px auto 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    width: 350px;
    margin: 0 auto 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    width: 450px;
    margin: 0 auto 30px auto;
  }
}

.advantages__image-wrapper {
  position: absolute;
  bottom: 1px;

  @media (min-width: $tablet-width) {
    order: -1;
    overflow: hidden;
    position: static;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    overflow: hidden;
    position: static;
    bottom: 0;
    right: 0;
  }
}

.advantages__image {
  transform: translateY(56px);

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 268px;
    height: 547px;
    transform: translateY(66px);
  }

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 382px;
    position: static;
    transform: translateY(89px);
  }
}

.advantages__image--mobile {
  @media (min-width: $tablet-width) {
    transform: translateY(66px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(93px);
  }
}

.advantages__timer {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-wheat;
  }
}

.advantages__timer-effect {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $basic-black;
  width: 168px;
  margin: 30px 0 0 0;

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 300px;
  }
}

.advantages__timer-title {
  font-size: 14px;
  line-height: 24px;
  width: 300px;
  margin: 10px 0 0 0;

  @media (min-width: $desktop-width) {
    width: 540px;
    font-size: 18px;
    line-height: 30px;
    margin: 22px 0 0 0;
  }
}

.advantages__timer-wrapper {
  max-width: 1100px;
  position: relative;
  padding: 66px 20px 18px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 700px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1100px;
    padding: 19px 30px 112px 20px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__wrapper-text {
    width: 50%;
    overflow: visible;
  }
}

.advantages__wrapper {
  overflow: hidden;
}

.advantages__timer-img {
  transform: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 54px;
  }

  @media (min-width: $desktop-width) {
    left: 81px;
    top: -22%;
  }
}

.advantages__timer-text {
  width: 50%;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
    text-align: left;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 59%;
  }
}

.advantages__description--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__description--desktop {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__timer-link {
  margin: 7px 0 0 0;
  color: $basic-pink;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0 0 0;
  }
}
