.app-form__title {
  width: 178px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-pink;
  margin: 39px auto 0 auto;
  text-align: center;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.app-form__list {
  list-style: none;
  padding: 19px 0 0 27px;
  margin: 0 0 0 0;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding: 27px 0 0 57px;
  }
}

.app-form__label input:checked ~ span::after {
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.app-form__label input:disabled ~ span::after {
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.app-form__label input:disabled ~ span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid $basic-pink;
}

.radio--span {
  position: relative;
  padding-left: 63px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.radio--span::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -7px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 2px solid $basic-gray;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    top: -8px;
    left: 2px;
  }
}

.radio--span::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 18px;
  top: 3px;
  left: 2px;

  @media (min-width: $tablet-width) {
    left: 11px;
  }
}

.app-form__label input:focus ~ span::before {
  content: "";
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: 2px solid $basic-black;
}

.app-form__item {
  padding: 21px 0 24px 0;
}

.app-form__item--windows {
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
  }
}

.app-form__title--small {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: $basic-pink;
    margin: 39px auto 0 auto;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0 30px;
  }
}
