.app-form__title {
  width: 178px;
  height: 29px;
  font-size: 14px;
  line-height: 18px;
  color: $basic-pink;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.app-form__list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 90px;
  font-size: 18px;
  line-height: 30px;
}

.app-form__label input:checked ~ span::after {
  width: 5px;
  height: 5px;
  color: $basic-white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.app-form__label input:disabled ~ span::after {
  background-image: url("../img/bird.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.app-form__label input:disabled ~ span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid $basic-pink;
}

.radio--span {
  position: relative;
  padding-left: 62px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.radio--span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid $basic-gray;
  background-color: $basic-white;
}

.radio--span::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 18px;
  top: 8px;
  left: 7px;
}

.app-form__label input:focus ~ span::before {
  content: "";
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: 2px solid $basic-black;
}
