.catalog-upload {
  background-color: $basic-wheat;
}

.upload__info {
  text-align: center;
  align-items: center;
}

.upload__form-button {
  text-align: center;
  align-items: center;
}

.upload__form-button--download {
  padding: 21px 90px 21px 90px;
  border: 3px solid #D22856;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 38px 0 0 0;
}

.upload__form-button--cancel {
  padding: 21px 99px 21px 99px;
  border: 3px solid #D22856;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 12px 0 41px 0;
}
