.contacts {
  text-align: center;
  align-items: center;
  margin: -9px 0 0 0;
}

.contacts__slogan {
  padding: 50px 0 0 0;
}

.contacts__slogan,
.contacts__slogan-small {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin: 20px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 63px 0 0 0;
  }
}

.contacts__slogan-small {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.contacts__list {
  list-style: none;
  padding: 2px 0 28px 0;
  margin: 15px auto 6px auto;
  max-width: 1200px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 8px 28px 8px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 975px;
    margin: 21px auto 0 auto;
  }
}

.contacts__item {
  margin: 16px auto 0 auto;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts__item--tablet {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 42px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 13px 0 0 0;
    order: -1;
  }
}

.contacts__title--first {
  order: -10;
}

.contacts__phone,
.contacts__mail,
.contacts__addres {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $basic-pink;
}

.contacts__addres {
  width: 283px;
  display: flex;
  margin: 0 auto;
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  color: $darken-blue;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    padding: 0 0 21px 0;
  }
}

.contacts__map {
  max-height: 200px;
  overflow: hidden;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 374px;
  }

  @media (min-width: $desktop-width) {
    max-height: 502px;
  }
}


.contacts__map iframe {
  width: 100%;
  border: none;
}

.contacts__mail:hover,
.contacts__phone:hover {
  color: $darken-blue;
  text-decoration: underline;
}

.contacts__mail:active,
.contacts__phone:active {
  color: $darken-blue;
  opacity: 0.3;
  text-decoration: none;
}

