.description-form__text {
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  margin: 0 0 30px -13px;
  width: 280px;
  max-width: 818px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding: 13px 0 4px 20px;
}

.description-form__button {
  background: $basic-green;
  border: 2px solid $basic-green;
  border-radius: 5px;
  padding: 13px 45px 16px;
  color: $basic-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 8px 0 0 -13px;
}

.description-form__note {
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin: 34px auto 0 auto;
  padding: 0 8px 0 0;
}
