.info-header {
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 90px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
    padding: 0 0 0 149px;
    margin: 96px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.info-header__slogan {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $basic-white;
  padding: 23px 22px 59px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    display: flex;
    width: 250px;
    padding: 3px 2px 42px 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0;
    padding: 3px 2px 48px 12px;
  }
}

.info-header__load-link {
  padding: 15px 20px 16px 38px;
  border: 3px solid $basic-white;
  border-radius: 29px;
  margin: 0 0 30px 0;
  display: flex;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    padding: 15px 0 16px 45px;
    width: 300px;
    transform: translateX(6px);
  }

  @media (min-width: $desktop-width) {
    padding: 16px 20px 16px 29px;
    margin: 0;
    display: flex;
    width: 300px;
    font-size: 21px;
    line-height: 18px;
    transform: unset;
  }
}

.info-header__load-link:hover {
  background-color: $basic-white;
  color: $basic-pink;
}

.info-header__load-link:active .load-block-download {
  opacity: 0.3;
}

.info-header__img--mobile {
  transform: translate(-20px, -30px);
  max-width: none;
  z-index: -1;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    left: 20px;
    top: 13px;
    bottom: 0;
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    left: 166px;
    width: 1050px;
    height: 645px;
    top: 32px;
  }
}

.info-header__img {
  position: absolute;
}

.info-header__img--desktop {
  display: block;
  top: 0;
  transform: translateY(124px);
}
