.info-header {
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
    padding: 0 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.info-header__slogan {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $basic-white;
  padding: 29px 20px 59px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    display: flex;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin: 0;
  }
}

.info-header__load-link {
  padding: 21px 39px 21px 38px;
  border: 3px solid $basic-white;
  border-radius: 29px;
  margin: 0 0 30px 0;
  display: flex;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 21px 60px;
    width: 315px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 30px;
    border: 3px solid $basic-white;
    border-radius: 29px;
    margin: 0;
    display: flex;
    width: 290px;
    font-size: 21px;
    line-height: 18px;
    color: $basic-white;
  }
}

.info-header__img--mobile {
  transform: translateX(-20px);

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
  }
}

.info-header__img {
  position: absolute;
}

.info-header__img--tablet,
.info-header__img--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
  .info-header__img--tablet {
    display: none;
  }

  .info-header__img--desktop {
    display: block;
    top: 0;
    transform: translateY(124px);
  }
}
