.intro-header {
  background-color: $darken-gray;
  margin: 0 auto;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-tablet@2x.png");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-desktop@2x.png");
  }
}

.intro-header--catalog {
  overflow: visible;
}
