.load-block {
  background-color: $darken-gray;
  width: 100vw;
  margin-left: -20px;
  margin-top: -40px;
  padding: 28px 23px 31px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 100%;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.load-block__info {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    text-align: center;
    color: $basic-white;
    padding: 0 20px 38px 20px;
  }
}

.load-block__load-list {
  width: 222px;
  margin: 3px 0 10px 6px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.load-block__load-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-block-item--microsoft {
  transform: translateY(3px);
}
