.main-nav__list a {
  color: $basic-white;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    padding: 31px 101px 0 411px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  padding: 14px;

  @media (max-width: $desktop-width) {
    background-color: #283645;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #485461;
    min-height: 63px;
  }
}

.main-nav__item--nav-height {
  height: 66px;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  border: none;
  outline: none;
  right: 20px;
  top: 0;
  width: 50px;
  min-height: 66px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
}

.icon-burger {
  fill: $basic-white;
}

.icon-cross {
  fill: $basic-white;
  display: none;
}

.main-nav__item:hover {
  fill: $basic-pink;
}

.main-nav__wrapper {
  width: 100%;
  top: 0;
  z-index: 10;
}

.main-nav--nojs {
  position: static;
  display: block;
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item--nav-height {
    display: none;
  }
}
