.main-nav {
  z-index: 1;
  position: absolute;
  width: 100vw;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    width: 100%;
    position: static;
    text-transform: none;
  }
}

.main-nav__item--link {
  color: $basic-white;
  margin: auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-nav__item--link:hover {
  color: $basic-pink;
}

.main-nav__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
    padding-bottom: 11px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 200px 139px 198px 163px;
    list-style: none;
    padding: 45px 0 0 0;
    margin: 0 0 0 108px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;

  @media (max-width: $desktop-width) {
    background-color: #283645;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #485461;
    min-height: 64px;
  }
}

.main-nav__item--nav-height {
  height: 70px;

  @media (max-width: $tablet-width) {
    height: 110px;
  }
}

.main-nav__toggle {
  display: block;
  position: absolute;
  border: none;
  outline: none;
  right: 20px;
  top: -14px;
  width: 50px;
  min-height: 66px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 8px;
  }
}

.icon-burger {
  fill: $basic-white;
}

.icon-cross {
  fill: $basic-white;
  display: none;
}

.main-nav__item:hover {
  fill: $basic-pink;
}

.main-nav__wrapper {
  width: 100%;
  top: 0;
  z-index: 10;
}

.main-nav--nojs {
  position: static;
  display: block;
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item--nav-height {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 9px;
  right: 18px;

  @media (min-width: $tablet-width) {
    top: 29px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow: 0 8px 0 0 fade(#ffffff, 30%), 0 16px 0 0 fade(#ffffff, 30%);
}

@media (max-width: $desktop-width) {
  .main-nav--closed .main-nav__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
