.modal {
  position: fixed;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  display: none;
  padding-top: 44px;
  padding-bottom: 52px;
  background-color: $basic-white;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    max-width: 460px;
  }

  @media (min-width: $desktop-width) {
    max-width: 780px;
    padding-bottom: 0;
  }
}

.modal--big {
  @media (min-width: $desktop-width) {
    max-width: 780px;
    padding-top: 52px;
    padding-bottom: 52px;
    margin-top: 35px;
    background: $basic-white;
  }
}

.modal__content {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 320px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 351px;
  }
}

.modal__title {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 250px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 330px;
  }
}

.modal__description {
  margin: 0 auto;
  color: $darken-blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    max-width: 320px;
  }
}

.modal__button {
  background: $basic-green;
  border: 2px solid $basic-green;
  border-radius: 5px;
  padding: 13px 45px 16px;
  color: $basic-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 8px 0 0 -13px;
  width: 296px;
}

.modal__button--big {
  background: $basic-green;
  border: 2px solid $basic-green;
  border-radius: 5px;
  padding: 13px 45px 16px;
  color: $basic-white;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 8px 0 0 -13px;
  width: 296px;

  @media (min-width: $tablet-width) {
    width: 456px;
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0 0 1px 1px;
  padding-left: 22px;
  padding-right: 22px;

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-bottom: 52px;
    margin-top: 41px;
    background: $basic-wheat;
  }
}

.modal__message {
  font-size: 18px;
  line-height: 20px;
  width: 351px;
  margin: 0 auto;
}
