.page-header {
  margin: 0;
  height: 66px;
  background: rgba($basic-black, 0.3);

  @media (min-width: $tablet-width) {
    min-height: 66px;
    height: 111px;
  }

  @media (min-width: $desktop-width) {
    height: 110px;
  }
}

.page-header__logo {
  z-index: 2;
}

.page-header__logo svg {
  fill: $basic-white;
}

.page-header__logo:hover svg {
  fill: $basic-pink;
}

.page-header__logo:active svg {
  fill: $basic-white;
  opacity: 0.3;
}

.page-header__logo--mobile {
  margin: 23px auto 20px 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo--tablet {
  display: none;
  margin: 26px auto 45px 20px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo--desktop {
  margin: 27px 0 23px 110px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  display: flex;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }
}
