.page-form {
  background-color: $basic-white;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px 0 20px;
  }
}

.page-form__form {
  margin: 32px 0 0 0;
}

.page-form__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-form__user {
  margin: 0;
  padding: 0;
  border: none;
}

.page-form__text {
  border: none;
}

.page-form__info {
  padding: 45px 0 0 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 490px;
    padding: 92px 0 0 0;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 656px;
  }
}

.page-form__title--small {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: contents;
  }
}

.page-form__description {
  font-size: 14px;
  line-height: 18px;
  color: $basic-pink;
  padding: 38px 12px 12px 0;
  text-transform: uppercase;
  text-align: center;
}

.page-form__contacts {
  border: none;
}

.page-form__app {
  background-color: $basic-wheat;
  padding: 0;
  margin: 25px 0 0 -20px;
  width: 100vw;
  border: none;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    border: 1px solid $basic-gray;
    width: auto;
  }
}

.page-form__achievements {
  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}
