.page-header {
  margin: 0;
  min-height: 66px;
  background: rgba($basic-black, 0.3);

  @media (min-width: $desktop-width) {
    height: 110px;
  }
}

.page-header__logo {
  position: absolute;
}

.page-header__logo--mobile {
  margin: 20px auto 21px 23px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo--tablet {
  margin: 10px auto 21px 23px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo--desktop {
  margin: 23px auto 25px 132px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }
}
