.page-footer {
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 40px 20px 40px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 20px 40px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1200px;
    padding: 59px 128px 75px 129px;
  }
}

.page-footer__social {
  margin: 0 -8px 28px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0 8px 0 0;
    max-width: 250px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -15px 0 0;
    max-width: 350px;
    transform: translateY(10px);
  }
}

.social__item {
  margin-right: 8px;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-right: 6px;
    margin-bottom: 6px;
  }
}

.social__link {
  display: flex;
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-tablet {
    display: none;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    transform: translateY(10px);
  }
}

.copyright__link {
  display: flex;
  margin-left: 15px;
}

.page-footer__logo-link {
  margin: 0 0 27px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.copyright__text {
  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
