.page-header {
  margin: 0;
  min-height: 66px;
  background: rgba($basic-black, 0.3);

  @media (min-width: $desktop-width) {
    height: 110px;
  }
}

.page-header__logo {
  position: absolute;
}

.page-header__logo--mobile {
  margin: 20px auto 21px 23px;
}

.page-header__logo--tablet {
  margin: 10px auto 21px 23px;
}

.page-header__logo--desktop {
  margin: 10px auto 21px 20px;
}


@media (min-width: $tablet-width) {
  .page-header__logo--mobile {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo--mobile {
    margin: 20px auto 21px 23px;
  }
}

@media (max-width: $tablet-width) {
  .page-header__logo--tablet {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo--tablet {
    display: none;
  }
}

@media (max-width: $desktop-width) {
  .page-header__logo--desktop {
    display: none;
  }
}
