.post__title {
  text-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  margin: 0 auto;
  width: 300px;
  padding-top: 44px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 450px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 91px;
  }

  @media (min-width: $desktop-width) {
    width: 572px;
  }
}

.post__title--small {
  text-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
  margin: 0 auto;
  width: 300px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 18px;
    line-height: 30px;
  }
}

.post__title--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.post__list {
  list-style: none;
  margin: 30px auto 0 auto;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 57px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 69px auto 0 auto;
  }
}

.post__item {
  width: 280px;
  margin: 20px 0 0 0;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.post__wrapper {
  padding: 14px 20px 20px 17px;
  margin: -10px auto 0 auto;
  background-color: $basic-wheat;
  width: 100%;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    position: relative;
    max-width: 300px;
    padding: 19px 20px 20px 29px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 20px 20px 27px;
  }
}

.post__author {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.post__note {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.post__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.post__likes__text {
  padding: 0;
  margin: 6px 32px;

  @media (min-width: $tablet-width) {
    position: absolute;
    margin: 0;
    top: 104px;
  }
}

.post__likes {
  color: $basic-pink;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
}

.post__item--panorama {
  position: relative;
  width: 100%;
}

.post__info--panorama {
  height: 192px;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 620px;
    margin: -10px auto 0 auto;
    background-color: $basic-wheat;
    padding: 19px 10px 10px 30px;
    position: relative;
    height: 121px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 940px;
    margin: -10px auto 0 auto;
    background-color: $basic-wheat;
    padding: 20px 10px 10px 27px;
    position: relative;
    height: 96px;
  }
}

.panorama__picture--mobile {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    height: 506px;
  }
}

.panorama__info {
  padding: 6px 19px;
  position: absolute;
  background-color: $basic-pink;
  right: 21px;
  color: $basic-white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    right: 131px;
  }
}

.post__item__wrapper--small {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    margin: 30px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
}

.post__picture {
  width: 100%;
}

.post__wrapper--levon {
  height: 143px;

  @media (min-width: $tablet-width) {
    height: 155px;
  }
}

.post__wrapper--anton,
.post__wrapper--max,
.post__wrapper--sergey,
.post__wrapper--hope {
  height: 121px;

  @media (min-width: $tablet-width) {
    height: 155px;
  }
}

.post__wrapper--boris {
  height: 144px;

  @media (min-width: $tablet-width) {
    height: 155px;
  }
}

.post__likes--panorama {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 442px;
    bottom: 55px;
    width: 100px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 764px;
    bottom: 55px;
    width: 100px;
  }
}

.post__item--grid {
  @media (min-width: $desktop-width) {
    margin: 54px 0 0 0;
  }
}
