.reviews__wrapper {
  background-color: $basic-white;
  margin: 0;
  padding: 0;
}

.reviews__list {
  padding: 0;
  text-align: center;
  align-items: center;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.reviews__author {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $basic-black;
  font-style: normal;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__author-info {
  margin: 0;
  padding: 0;
  display: none;

  @media (min-width: $tablet-width) {
    order: 1;
    display: block;
  }
}

.reviews__text {
  display: flex;
  width: 283px;
  margin: 14px -25px 0 -22px;


  @media (min-width: $tablet-width) {
    width: 500px;
    margin: 20px auto;
  }
}

.reviews__toggles {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 20px;
  margin: 27px 6px 0 0;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__button {
  display: none;
  border: none;
  background: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__dots {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 50px auto 0 auto;
  }
}


.reviews__button--left {
  position: absolute;
  top: 50px;
  left: 124px;
}


.reviews__button--right {
  position: absolute;
  top: 50px;
  right: 124px;
}
