.upload__info {
  text-align: center;
  align-items: center;
  background-color: $basic-white;
  margin: 0;
  padding: 0;
}

.upload-form {
  max-width: 1200px;
  margin: 10px auto 0 auto;
  display: grid;
  grid-template-areas:
    "image"
    "filter"
    "buttons";
  grid-template-columns: 100%;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 47px auto 0;
    padding-bottom: 24px;
  }
}

.upload__info--small {
  margin: 43px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin: 64px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 58px 0 0 0;
  }
}

.upload__info--long {
  padding: 0 0 42px 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 70px 0;
  }
}

.upload__form-button {
  text-align: center;
  align-items: center;
}

.upload__form-buttons {
  grid-area: buttons;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.upload__form-button--download {
  padding: 16px 87px;
  border: 3px solid $basic-pink;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 102px 20px 0 20px;
  color: $basic-pink;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $basic-gray;
    right: 0;
    bottom: 201px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.upload__form-button--download:hover {
  background-color: $basic-pink;
  color: $basic-white;
}

.upload__form-button--download:active .upload__form-button--link {
  opacity: 0.3;
}

.upload__form-button--cancel {
  padding: 15px 101px;
  border: 3px solid $darken-blue;
  opacity: 0.1;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 12px 20px 0 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.upload__form-button--cancel:hover {
  opacity: 0.3;
}

.upload__form-button--cancel:active {
  background-color: $darken-blue;
  color: rgba(255, 255, 255, 0.3);
}

.upload__picture-img {
  margin: 10px 20px 0 20px;
  grid-area: image;

  @media (min-width: $tablet-width) {
    min-width: 300px;
    min-height: 400px;
  }
}

.upload__picture {
  grid-area: filter;
  border: none;
  margin: 0 auto 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.picture__button-range {
  height: 2px;
  background-color: $darken-blue;
  outline: none;
  appearance: none;
  margin: 0;
  width: 240px;
  position: absolute;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
  }

  &::-webkit-slider-thumb {
    background-color: $basic-white;
    border: 2px solid $basic-pink;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    outline: none;
    appearance: none;
    margin-left: 80px;
  }

  &--active {
    width: 240px;
    margin-bottom: 33px;
  }
}

.picture__button {
  display: flex;
  border: none;
  margin: 0 12px 0 0;
  background-color: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: flex;
  }
}

.picture__button--contrast {
  transform: translate(11px, 5px);

  @media (min-width: $tablet-width) {
    transform: translate(0, 0);
  }
}

.picture__button__img--tablet {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.picture__button__img--mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.picture__button-range--current {
  display: block;
  margin: 83px 0 0 -10px;

  @media (min-width: $tablet-width) {
    margin: 17px 0 0 0;
  }
}
