.upload__info {
  text-align: center;
  align-items: center;
  background-color: $basic-white;
  margin: 0;
  padding: 0;
}

.upload-form {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "image"
    "input"
    "buttons";
  grid-template-columns: 100%;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "image input"
      "image buttons";
    grid-template-columns: 53% 1fr;
  }
}

.upload__info--small {
  margin: 40px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin: 64px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 58px 0 0 0;
  }
}

.upload__info--long {
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.upload__form-button {
  text-align: center;
  align-items: center;
  grid-area: 3;
}

.upload__form-buttons {
  grid-area: buttons;
}

.upload__form-button--download {
  padding: 21px 90px 21px 90px;
  border: 3px solid $basic-pink;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 38px 0 0 0;
  color: $basic-pink;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.upload__form-button--cancel {
  padding: 21px 99px 21px 99px;
  border: 3px solid $darken-blue;
  opacity: 0.1;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 12px 0 41px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.upload__picture-img {
  margin: 20px;
  grid-area: image;
}

.upload__picture {
  grid-area: input;
  border: none;
}

.picture__button-range {
  height: 2px;
  background-color: $darken-blue;
  outline: none;
  appearance: none;
  margin: 10px 0 0 24px;
  width: 202px;


  &::-webkit-slider-thumb {
    background-color: $basic-white;
    border: 2px solid $basic-pink;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    outline: none;
    appearance: none;
  }

  &--active {
    width: 240px;
    margin-bottom: 33px;
  }
}

.picture__button {
  display: flex;
  border: none;
}
