.upload__info {
  text-align: center;
  align-items: center;
  background-color: $basic-white;
  margin: 0;
  padding: 0;
}

.upload-form {
  display: grid;
  grid-template-areas:
    '3'
    '1'
    '2';
}


.upload__info--small {
  margin: 49px 0 0 0;
}

.upload__info--long {
  padding-bottom: 52px;
}

.upload__form-button {
  text-align: center;
  align-items: center;
  grid-area: 3;
}

.upload__form-buttons {
  grid-area: 3;
}

.upload__form-button--download {
  padding: 21px 90px 21px 90px;
  border: 3px solid $basic-pink;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 38px 0 0 0;
}

.upload__form-button--cancel {
  padding: 21px 99px 21px 99px;
  border: 3px solid $basic-pink;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 12px 0 41px 0;
}

.upload__picture-img {
  margin: 20px;
  grid-area: 1;
}

.upload__picture {
  grid-area: 2;
}

