.upload {
  padding: 20px 0 41px 0;
  background-color: $color-white-smoke;
  margin: 42px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 56px 0 53px 0;
    margin: 71px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 68px auto 43px;
    padding: 0 0 9px 0;
  }
}
