.user__list {
  margin: 0;
  padding: 4px 2px 0 2px;
  list-style: none;
}

.user__item {
  margin: 0;
  padding: 0 0 18px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 35px 0 0 0;
  }
}

.user__label {
  display: flex;
  margin: 0 0 5px 20px;
  font-size: 14px;
  line-height: 30px;
  color: $basic-pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 18px 20px 0 -2px;
  }
}

.user__input {
  padding: 14px 20px 14px 18px;
  border: 2px solid $basic-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
}

.user__input::placeholder {
  color: $darken-blue;
}
