.user__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user__item {
  margin: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .user__item {
    display: flex;
    margin: 60px 0 0 0;
  }
}

.user__label {
  display: flex;
  margin: 0 0 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: $basic-pink;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .user__label {
    margin: 15px 15px 0 20px;
  }
}

.user__input {
  padding: 10px 24px 10px 20px;
  border: 2px solid $basic-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
}

.user__input::placeholder {
  color: $darken-blue;
}
